* {
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* background-color: rgb(16, 30, 3);
color: #ffffff; */
}

.nav1 {
    width: 100%;
    height: 50px;
    background-color: rgb(181, 246, 181);
    padding: 0;
    /* position: fixed; */
    
}
.bi-arrow-down-right{
    background-color: transparent !important;
    color: #000;
}
.plantex{
    height: 40px;
    width: 35px;
}
span a {
    color: rgb(0, 0, 0);
    font-size: 20px;
    line-height: 50px;
    text-decoration: none;
    margin-left: 280px;

}

span a:hover {
    /* color: rgb(229, 135, 12); */
    border-bottom: 3px solid rgb(0, 0, 0);
}

.nav1 img {
    color-scheme: green;
    color: #9bde43;


}

.nav1 ul {
    float: right;
    margin-right: 280px;
}

.nav1 ul li {
    display: inline-block;
    margin: 0 15px;
    line-height: 50px;
}

.nav1 ul li a {
    color: #000000;
    text-decoration: none;


}
.active{
    border-bottom: #000;
}

.nav1 ul li a:hover {
    /* color: rgb(1, 203, 226); */
    border-bottom: 2px solid rgb(1, 1, 1);

}

@media (max-width:1220px) {
    .nav1 ul {
        position: fixed;
        left: 0;
        width: 25%;
        height: 100vh;

        text-align: center;
        padding: 0;
        left: -30%;
        display: block;
    }

    nav ul .slide {
        left: 0;
        transition: 2s;
    }

    .nav1 ul li a {
        display: block;
        width: 30%;
        margin: 0;
    }

    .nav1 ul li a :hover {
        border-bottom: 2px solid rgb(33, 229, 229);
    }

    .menu {
        float: right;
        padding: 15px 20px 0 0;

    }

    .menu .line {
        width: 25px;
        height: 3px;
        background-color: #ffffff;
        margin-bottom: 5px;
        display: block;
    }
}

/* section2 */
.button1 {
    background-color: rgb(6, 168, 57);
    color: #ffffff;
    padding: 5px 15px;
    border-radius: 10px;
}

.button1:hover {
    background-color: rgb(34, 195, 85);
}

/* caroaul */
.carousel{
    background-color: transparent !important;
}





.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  
    
    
    
    /* background-color: rgb(233, 80, 110); */
}

.container .homeimage {
    /* width: 500px;
    height: 550px; */
    /* margin-left: 0px;
   */ 
    margin-top: 30px;
    margin-right: 200px;
    padding: 0 50px 0 0;
    overflow: hidden;
    

}

.container .zoomimage {
    width: 500px;
    height: 500px;
    margin-right: 50px;
    margin-top: 80px;
  }


.container .aboutshome {
    margin-top: 150px;
    font-size: 20px;
    margin-right: 100px;
    margin-left: 100px;
}

.container .aboutszoom {
    margin-top: 150px;
    font-size: 20px;
    margin-left: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container p{
    font-size: 20px;
}
.container span {
    font-weight: bolder;
    font-size: 40px;
}

/* zoom section */
.container i {
    background-color: #ffffff;
    color: #9bf920;
}

.button2 {
    background-color: transparent;
    color: #1ce648;
    padding: 5px 15px;
    border: transparent;
    box-shadow: 0;
}

.zoomsection img {
    transform: scale(1.0);
}

.zoomsection img:hover {
    transform: scale(1.1);
}

/* section2 end */

/* productnav */

.nav2 ul {
    margin:0 770px;
   
}

.nav2 h1 {
    text-align: center;
    margin-top: 50px;
}

.nav2 ul li {
    display: inline-block;
    margin: 0;

}

.nav2 ul li a {

    text-decoration: none;
}

.nav2 button {
    border: transparent;
    margin: 0 15px;
    margin-top: 30px;
    background-color: transparent;
    cursor: pointer;
    color: rgb(251, 149, 48);
}

.nav2 a button:hover {
    border-radius: 3px;
    color: rgb(251, 149, 48);
    padding: 3px 10px;
    border: 2px rgb(74, 243, 52) dashed;
}

/* productnav end */
/* product page */
.product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 350px;
}

.product .productimg {
    padding: 100px 10px 0 10px;
}

.product img {
    width: 250px;
    height: 250px;
}

.product i {
    color: rgb(251, 213, 42);
}

.bi-dash {
    width: 100%;
    height: 5px;
    
}

/* product page end*/

/* faq section */

.faq {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
}
.faqsec{
    height: 600px;
}
.faq {
    margin-top: 30px;
    margin-left: 350px;

}

.que1 {
    margin-left: 300px;
    padding: 30px;
}

.que2 {
    margin-top: 80px;
}

.question {
    height: 80px;
    width: 500px;
    color: #000;
    border: 2px solid rgb(0, 0, 0);
box-shadow: 5px rgb(178, 178, 178);
    background-color: rgb(248, 248, 248);
}

.answer {
    height: 100px;
    width: 500px;
    color: #000;
    background-color: #50bb67;
}

.faq i {
    width: 10px;
    height: 10px;
}

/* team */
.team{
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 20px;
   
}
.teamsection{
    margin-top: 40px;

}
.team .teammem1{
 
    height: 320px;
    width: 300px;
   border-radius: 5px;
    /* background-color: #ffffff; */
}
.team .teammem2{
 
    height: 320px;
    width: 300px;
   border-radius: 5px;
    /* background-color: #ffffff; */
}
.team .teammem3{
 
    height: 320px;
    width: 300px;
   border-radius: 5px;
    /* background-color: #ffffff; */
}
.team .teamborder{
    border: 2px solid rgb(245, 201, 201);
     box-shadow:5px 5px 8p 8px #7a7a7a;
     border-radius: 20px;
     margin-right: 15px;
     transform: scale(1.0);
}
.team .teamborder :hover{
    transform: scale(0.95);
}

.team .textalign{
    margin: 0 0 0 25px;
}
.team .teammem1 img{
    margin-left: 100px;
    margin-top: 30px;
}
.team .teammem2 img{
    margin-left: 100px;
    margin-top: 30px;
}
.team .teammem3 img{
    margin-left: 100px;
    margin-top: 30px;
}
.team img{
    height: 100px;
    width: 100px;
    margin: 0 15px;
    border-radius: 50%;
}
/* team end */







/* contact */

.contact {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    /* background-color: #c1e47a; */
    /* margin: 0 0 0 300px; */
    margin-top: 100px;
    
}

.inform1 {
    background-color: #86e10f;
    margin-left: 300px;
    width: 400px;
    height: 470px;
    color: #ffffff;
    border-bottom: 2px solid rgb(245, 201, 201);
    border-top: 2px solid rgb(245, 201, 201);
    border-left: 2px solid rgb(245, 201, 201);
    /* margin-right: 250px; */
}

.inform1 h1 {
    font-weight: bolder;
    padding: 15px;
}

.inform1 .fill {
    font-size: 20px;
    font-weight: 500px;
    padding: 0 0 0 30px;
}

.inform1 .para1 {
    font-size: 20px;
    font-weight: 600;
    padding: 10px 0 0 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.inform2 {
    background-color: #ffffff;
    margin-right: 500px;
    width: 800px;
    height: 470px;
    color: #000;
    border-bottom: 2px solid rgb(245, 201, 201);
    border-top: 2px solid rgb(245, 201, 201);
    border-right: 2px solid rgb(245, 201, 201);
    
}

.inform2 .name {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
    margin: 30px 0 0 30px;
    font-size: 15px;
    color: #000;
}

.inform2 .fname {
    width: 300px;
    height: 50px;
    color: #000;
    margin: 5px 0 0 30px;
}
.inform2 .fname :hover{

border-bottom: rgb(245, 201, 201);
}
.inform2 .lname {
    width: 300px;
    height: 50px;
    margin: 10px 0 0 30px;
    color: #000;
}

.inform2 .text {
    margin: 10px 0 0 30px;
}

.inform2 .textme {
    margin: 5px 0 0 30px;
}

.inform2 .butsub {
    margin: 8px 0 0 600px;
    padding: 10px 12px;
    width: 150px;
    border-radius: 8px;
    border-color: transparent;
    background-color: rgb(50, 239, 50);
}

.inform2 input {
    border: transparent;
    background: none;
    color: #000;
    border-right: #ffffff;
    border-left: #ffffff;
    border-bottom: 2px solid rgb(245, 201, 201);
}

.inform2 input :hover {
    border: rgb(27, 27, 27);
    background: none;
    border-bottom: 2px solidrgb(245, 201, 201);
}

.inform2 textarea {
    border: transparent;
    color: #000;
    background: none;
    border-bottom: 2px solid rgb(245, 201, 201);
}
/* map start */
#map {
    height:500px;
    width: 100%;
    /* margin: 0 300px; */
    margin-top: 50px;
}
/* map end */

/* footer start */
.footersection {
    width: 100%;
    margin-top: 50px;
    /* background-color: #c4ff77; */
}

.footeralign {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* padding: 10px; */
    margin: 0 300px;
}

.footertext {
    padding: 60px;
    font-weight: 50px;
    /* color:rgba(11, 11, 11, 0.976); */
}

.footertext h5 {
    font-weight: bolder;
    font-size: 20px;
}

.footertext i {
    margin: 0 5px;
    size: 10px;
    padding: 0 5px 0 0;
    color: #000;
    margin-right: 5px;
}

.footertext .social {
    margin-right: 15px;
}

.footertext img {
    height: 26px;
    width: 26px;
    margin: 0 5px;
}

form .inputs {
    display: grid;
    grid-template-columns: auto auto;
    height: 80px;
    width: 310px;
    background-color: #dbe9ca;
    border-radius: 10px;
}

form .inputmail .email {
    margin: 20px;
    width: 150px;
    color: #000;
    height: 50px;
    background-color: transparent;
    border: none;


}

form .inputbtn .button3 {
    padding: 10px;
    margin: 20px 15px 0 0;
    background-color: rgb(56, 116, 56);
    border-radius: 10px;
    color: #ffffff;
    border: transparent;
}

/* footer end */